{% extends "base.html" %}

{% block extra_head %}
    {% if config.build_search_index %}
        {{ macros_search::search_head() }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if config.build_search_index %}
        {{ macros_search::search() }}
    {% endif %}

    <div class="taxonomies">
        <h2>Categories</h2>
        <div class="taxonomies__title">
            12 categories in total
        </div>
        <div class="taxonomies__items">
            
                <a href="http://linmob.net/categories/commentary/">
                    commentary
                </a>
            
                <a href="http://linmob.net/categories/events/">
                    events
                </a>
            
                <a href="http://linmob.net/categories/hardware/">
                    hardware
                </a>
            
                <a href="http://linmob.net/categories/howto/">
                    howto
                </a>
            
                <a href="http://linmob.net/categories/impressions/">
                    impressions
                </a>
            
                <a href="http://linmob.net/categories/internal/">
                    internal
                </a>
            
                <a href="http://linmob.net/categories/personal/">
                    personal
                </a>
            
                <a href="http://linmob.net/categories/projects/">
                    projects
                </a>
            
                <a href="http://linmob.net/categories/shortform/">
                    shortform
                </a>
                <a href="http://linmob.net/categories/software/">
                    software
                </a>
                <a href="http://linmob.net/categories/videos/">
                    videos
                </a>
                <a href="http://linmob.net/categories/weekly-update/">
                    weekly update
                </a>
        </div>
    </div>
    <div class="taxonomies">
        <h2>Tags</h2>
        <div class="taxonomies__title">
            {{ terms | length }} tags in total
        </div>
        <div class="taxonomies__items">
            {% for tag in terms %}
                <a href="{{ tag.permalink }}">
                    {{ tag.name }}
                    <span class="count">{{ tag.pages | length }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
